In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv('data/Train.csv')

/home/mike/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df['saleyear'] = df['saledate'].str[-9:-4].astype('int32')
df['age'] = df['saleyear'] - df['YearMade']
df['Turbo_binary'] = df['Turbocharged'].map(lambda x: 1.0 if x == "Yes" else 0.0)

In [4]:
column_list=df.columns
data_list=[]
for column in column_list:
    temp_series= df[column].unique()
    data_list.append(temp_series)   
d= dict(zip(column_list, data_list))
df2 = pd.DataFrame.from_dict(d, orient='index')
unique= df2.transpose()

In [5]:
#df4=df[df['YearMade'] == '1000']

In [6]:
pd.set_option('display.max_columns',100)

In [7]:
df4.info()

NameError: name 'df4' is not defined

In [ ]:
unique

In [ ]:
df.info()

In [ ]:
Four Wheel Drive = 32996
'Two Wheel Drive = 46139/8
All Wheel Drive = 798
No = 24428

In [ ]:
unique.info()

In [ ]:
df.info()

In [ ]:
df_dropped = df.dropna(subset=['Drive_System'])

In [ ]:
df_dropped.info()

In [ ]:
column_list=df_dropped.columns
data_list=[]
for column in column_list:
    temp_series= df_dropped[column].unique()
    data_list.append(temp_series)   
d= dict(zip(column_list, data_list))
df6 = pd.DataFrame.from_dict(d, orient='index')
unique= df6.transpose()

In [ ]:
unique.info()

In [14]:
df_dropped2 = df.dropna(subset=['SalesID','age','Enclosure','ProductGroup'])

In [15]:
df_dropped2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400800 entries, 0 to 401124
Data columns (total 56 columns):
SalesID                     400800 non-null int64
SalePrice                   400800 non-null int64
MachineID                   400800 non-null int64
ModelID                     400800 non-null int64
datasource                  400800 non-null int64
auctioneerID                380668 non-null float64
YearMade                    400800 non-null int64
MachineHoursCurrentMeter    142672 non-null float64
UsageBand                   69608 non-null object
saledate                    400800 non-null object
fiModelDesc                 400800 non-null object
fiBaseModel                 400800 non-null object
fiSecondaryDesc             263729 non-null object
fiModelSeries               56734 non-null object
fiModelDescriptor           71865 non-null object
ProductSize                 190095 non-null object
fiProductClassDesc          400800 non-null object
state                       400800 non-null object
ProductGroup                400800 non-null object
ProductGroupDesc            400800 non-null object
Drive_System                104361 non-null object
Enclosure                   400800 non-null object
Forks                       192077 non-null object
Pad_Type                    79134 non-null object
Ride_Control                148606 non-null object
Stick                       79134 non-null object
Transmission                183230 non-null object
Turbocharged                79134 non-null object
Blade_Extension             25219 non-null object
Blade_Width                 25219 non-null object
Enclosure_Type              25219 non-null object
Engine_Horsepower           25219 non-null object
Hydraulics                  320570 non-null object
Pushblock                   25219 non-null object
Ripper                      104137 non-null object
Scarifier                   25230 non-null object
Tip_Control                 25219 non-null object
Tire_Size                   94718 non-null object
Coupler                     213952 non-null object
Coupler_System              43458 non-null object
Grouser_Tracks              43362 non-null object
Hydraulics_Flow             43362 non-null object
Track_Type                  99153 non-null object
Undercarriage_Pad_Width     99872 non-null object
Stick_Length                99218 non-null object
Thumb                       99288 non-null object
Pattern_Changer             99218 non-null object
Grouser_Type                99153 non-null object
Backhoe_Mounting            78672 non-null object
Blade_Type                  79833 non-null object
Travel_Controls             79834 non-null object
Differential_Type           69411 non-null object
Steering_Controls           69369 non-null object
saleyear                    400800 non-null int32
age                         400800 non-null int64
Turbo_binary                400800 non-null float64
dtypes: float64(3), int32(1), int64(7), object(45)
memory usage: 172.8+ MB